body {
  background-color: #b8e1fcea;
  font-family: "Roboto", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

a {
  color: #252064e8;
}

main {
  padding: 30px 0;
}

.weather-app-city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
  color: #f8f4f4
}

.weather-app-details {
  font-size: 16px;
  line-height: 20px;
  color: #fbfafdc0;
  
}

.weather-app-details strong {
  color: #df6d6d;
}

.weather-app-temp-container {
  display: flex;
}

.weather-app-icon {
  width: 95px;
  height: 95px;
  margin-top: 5px;
  
}

.weather-app-temp {
  font-size: 88px;
  font-weight: bold;
 line-height: 88px;
 color: #f8f4f4
}

.weather-app-unit {
  font-size: 38px;
  margin-top: 5px;
  color: #f8f4f4
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app {
  background-color: #76c2f5ea;
  max-width: 600px;
  margin: auto auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  transform: translateY(10%);

}

.search-form-input {
  background-color: aliceblue;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button {
  background: #f16b6b;
  padding: 15px 30px;
  border: none;
  margin-left: 10px;
  border-radius: 6px;
  color: #f9f9ff;
  font-size: 18px;
}

.weather-forcast{
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
 
}

.weather-forcast-icon {
height: 85px;

}

.weather-forcast-temperature {
display: flex;
justify-content: space-evenly;
color: #f8f4f4;
font-size: 15px;
}

.weather-forcast-date {
  text-align: center;
  color: #f9f9fafd;
  margin-top: 35px;
}